img {border: none; }

body {
	background: white url(https://wotbstars.github.io/lj/lj.jpg);
	font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    font-stretch: normal;
}
a{ text-decoration: underline;
                 color: #11AA00;
                 font-family: Verdana, Arial, sans-serif;
                 font-size: 1em;
                 font-weight: bold; }
                     
                        
.url_link { text-decoration: none;
            color: #ffcc00;
            font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            font-weight: bold; }
            
.url_link_black { text-decoration: underline;
            color: #ffcc00;
            font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            font-weight: bold; }
            
.user_info{ font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            background-color: #ffffff;
            text-align: left;
            filter:alpha(opacity=95);
	    opacity: 0.95;
	   -moz-opacity:0.95;

            color: rgb(0, 0, 0);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;
            font-size-adjust: none;
            font-stretch: normal;}

.user_info_item{ 
                 font-family: Verdana, Arial, sans-serif; font-size: 12px;}

.friend_subject{ font-family: Verdana, Arial, sans-serif;
                 font-size: 1em;
		         font-family: verdana;
		         font-style: normal;
		         font-variant: normal;
		         font-weight: normal;
		         font-size: 12px;
		         font-size-adjust: none;
		         font-stretch: normal;}
                             
.logic_box{ font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            background-color: #ffffff;
            text-align: left;
            color: rgb(0, 0, 0);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: normal;
            filter:alpha(opacity=95);
	    opacity: 0.95;
	   -moz-opacity:0.95;

            font-size-adjust: none;
            font-stretch: normal;}

.gazeta{ font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            background-color: #ffffff;
            text-align: left;
            color: rgb(224, 214, 193);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 12px;
            filter:alpha(opacity=95);
	    opacity: 0.95;
	   -moz-opacity:0.95;

            line-height: normal;
            font-size-adjust: none;
            font-stretch: normal;}

                          


.logic_box_item{ border-bottom-style: dotted;
                 line-height: 24px;
                 border-bottom-color: #000000;
                 border-bottom-width: 1px;
                 font-family: Verdana, Arial, sans-serif; 
                 font-size: 12px; 
                 font-weight: bold;}


                        
.logic_box_text{ font-family: Verdana, Arial, sans-serif; 
                 font-size: 1.2em; 
                 font-weight: normal; 
                 text-align: justify}
                 
.logic_box_footer {font-family: Verdana, Arial, sans-serif; 
                 font-size: 1em; 
                 border-top-style: dotted;
                 line-height: 24px;
                 border-top-color: #000000;
                 border-top-width: 1px;
                 font-weight: normal; 
                 text-align: justify}

.tdx{         font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            text-align: left;
            color: rgb(0, 0, 0);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 1em;
            line-height: normal;
            filter:alpha(opacity=95);
	    opacity: 0.95;
	   -moz-opacity:0.95;
            font-size-adjust: none;
            font-stretch: normal;}

.thx{       font-family: Verdana, Arial, sans-serif;
            font-size: 1em;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            text-align: left;
            color: rgb(0, 0, 0);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            font-size: 1em;
            line-height: normal;
            filter:alpha(opacity=95);
	        opacity: 0.95;
	        -moz-opacity:0.95;
            font-size-adjust: none;
            font-stretch: normal;}
            
td,table,p,tr{       
               font-family: Verdana, Arial, sans-serif;
               font-size: 1em;
               font-stretch: normal;}
            




