img {border: none; }

body {
    font-family: Verdana, Arial, sans-serif;
    font-stretch: normal;
    background: white url(https://wotbstars.github.io/lj/lj-friends.jpg);
}

td,p,tr{       
               font-family: Verdana, Arial, sans-serif;
               font-size: 20px;
               font-stretch: normal;
               vertical-align: middle;}
               
table{       
               font-family: Verdana, Arial, sans-serif;
               font-size: 20px;
               font-stretch: normal;
               vertical-align: middle;}
                           
a{ text-decoration: underline;
                 color: #11AA00;
                 font-family: Verdana, Arial, sans-serif;
                 font-size: 1.2em;
                 font-weight: bold; }
                     
img
{
    max-width:  500px;  
    max-height: 375px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
                        
.url_link { text-decoration: none;
            color: #ffcc00;
            font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            font-weight: bold; }
            
.url_link_black { text-decoration: underline;
            color: #ffcc00;
            font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            font-weight: bold; }
            
.user_info{ font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            border: 1px solid #6699cc;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            background-color: #eeeeee;
            text-align: left;
            color: rgb(51, 51, 51);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: normal;
            font-size-adjust: none;
            filter:alpha(opacity=95);
	        opacity: 0.95;
	       -moz-opacity:0.95;
            font-stretch: normal;}

.user_info_item{ 
                 font-family: Verdana, Arial, sans-serif; font-size: 1.2em;}

.friend_subject{ font-family: Verdana, Arial, sans-serif;
                 font-size: 20px;
		         font-family: verdana;
		         font-style: normal;
		         font-variant: normal;
		         font-weight: normal;
		         font-size-adjust: none;
		         font-stretch: normal;}
                             
.logic_box{ font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            border: 1px solid #6699cc;
            border-style: solid;
            margin-left: auto; margin-right: auto;
            padding: 5px 0pt;
            background-color: #ffffff;
            text-align: left;
            color: rgb(51, 51, 51);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: normal;
            font-size-adjust: none;
            filter:alpha(opacity=95);
	       opacity: 0.95;
    	   -moz-opacity:0.95;
            font-stretch: normal;}





.logic_box_item{ border-bottom-style: dotted;
                 line-height: 24px;
                 border-bottom-color: #6699cc;
                 border-bottom-width: 1px;
                 filter:alpha(opacity=95);
		 margin-left: auto; margin-right: auto;
	         opacity: 0.95;
	         -moz-opacity:0.95;  
                 font-family: Verdana, Arial, sans-serif; 
                 font-size: 20px; 
                 font-weight: bold;}


                        
.logic_box_text{ font-family: Verdana, Arial, sans-serif; 
                 font-size: 20px;
                 font-weight: normal; 
                 text-align: justify}
                 
.logic_box_footer {font-family: Verdana, Arial, sans-serif; 
                 font-size: 20px; 
                 border-top-style: dotted;
                 line-height: 24px;
                 border-top-color: #6699cc;
                 border-top-width: 1px;
                 font-weight: normal; 
                 text-align: justify}

.tdx{         font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            text-align: left;
            color: rgb(0, 0, 0);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: normal;
            filter:alpha(opacity=95);
	    opacity: 0.95;
	   -moz-opacity:0.95;
            font-size-adjust: none;
            font-stretch: normal;}

.thx{         font-family: Verdana, Arial, sans-serif;
            font-size: 20px;
            border: 1px solid #000000;
            border-style: solid;
            margin: 0pt;
            padding: 5px 0pt;
            text-align: left;
            color: rgb(0, 0, 0);
            font-family: verdana;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            line-height: normal;
            filter:alpha(opacity=95);
	    opacity: 0.95;
	   -moz-opacity:0.95;
            font-size-adjust: none;
            font-stretch: normal;}
